.main {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  min-width: 200px;
  flex-basis: 15%;
  background-color: #040440;
  color: #fff;
}
.mainPage {
  background-color: #f5f6f8;
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: stretch;
}
.chart1 {
  flex-basis: 70%;
}
.chart2 {
  flex-basis: 25%;
}
@media screen and (max-width: 768px) {
  .sidebar {
    max-width: 40px;
    min-width: 40px !important;
  }
  .container {
    flex-direction: column;
    /* Stack charts on top of each other */
  }

  .chart1,
  .chart2 {
    flex-basis: 100%;
    /* Take up full width */
  }
  .mainPage {
    padding: 10px;
  }
}
