.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  min-width: 200px;
  flex-basis: 15%;
  background-color: #040440;
  color: #fff;
}
.mainPage {
  background-color: #f5f6f8;
  flex: 1;
  padding: 24px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    max-width: 40px;
    min-width: 15px !important;
  }
}
